@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to Delete this Employee ?</h1>
<br />
<br />
<form asp-action="Delete">
   
    <partial name="PartialViews/DeleteDetailsEmployeePartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

