@model UserViewModel
<div class="form-group">
    <label class="col-form-label" asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly />

</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Fname"></label>
    <input class="form-control" asp-for="Fname" readonly />

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Lname"></label>
    <input class="form-control" asp-for="Lname" readonly />

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly />

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />

</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Roles"></label>
    <input class="form-control" asp-for="Roles" />
    <span asp-validation-for="Roles" class="text-danger"></span>
</div>



