@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to Delete this Role?</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">
    <partial name="PartialView/DetailsDeleteRolePartailView" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
